<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hxh.component.basicore">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.access_wifi_state" />
    <uses-permission android:name="android.permission.access_network_state" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity android:name=".ui.QRCode.activity.CaptureActivity"/> -->

        <activity android:name=".permissions.PermissionActivityActivity"
            android:theme="@style/Transparent_activity_theme"
        />
        <activity android:name=".CommonConponet.PdfViewerActivity" />
        <activity android:name=".ui.QRCode.activity.CaptureActivity"/>

    </application>

</manifest>